[submodule "apps/diamondSquareSurface/diamondSquare"]
	path = apps/diamondSquareSurface/diamondSquare
	url = git@github.com:jorgehog/diamondSquare.git
[submodule "ignis"]
	path = ignis
	url = git@github.com:jorgehog/ignis.git
[submodule "apps/WLMC/WLMC"]
	path = apps/WLMC/WLMC
	url = https://github.com/jorgehog/WLMC
