
buildTrace = 0;

System = {

    BoxSize = [100, 100, 100];

    nNeighborsLimit = 2;

    nNeighboursToCrystallize = 7;

    SaturationLevel = 0.1;


    #0 = Periodic
    #1 = Edge
    #2 = Surface
    #3 = ConcentrationWall
    Boundaries = {
    #            #back #front
         types = ([0,    0],   #X
                  [0,    0],   #Y
                  [2,    1]);  #Z
    };

};

Reactions = {

    beta = 1.5;
    scale = 1.0;

    Diffusion = {

        separation = 2;

        rPower = 0.25;
        scale =  1.0;

    };

};

Initialization = {

    toothWidth   = 5;
    toothSpacing = 2;

};

Solver = {

    nCycles = 1000000;
    cyclesPerOutput = 100;

    #seedType:
    #0 = from time
    #1 = use specific seed

    seedType = 0;
    specificSeed = 1394447431;

};
